.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background: center / cover no-repeat #fff url(../images/background_header.svg);
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  padding-left: 80px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  padding: 0 80px 40px;
}

.header__paragraph {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 0;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  background: center / cover no-repeat #0a2750
    url(../images/background_recipes.svg);
  color: #fff;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  margin: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border-width: 0px;
}

.recipes__video-caption {
  display: flex;
  margin: 24px 0 0 0;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background: center / cover no-repeat #d9e7ff
    url(../images/background_reservation.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin: 100px auto 80px;
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  margin-bottom: 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  align-content: stretch;
  width: 385px;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border: 1px solid #838383 4px;
  margin: 8px 0 32px;
  padding: 15px 20px;
}

.form__button {
  padding: 20px 0;
  margin-bottom: 32px;
  border-radius: 4px;
  border: #1878dc;
  background-color: #1878dc;
  color: #fff;
  transition: 1s ease;
}

.form__button:hover {
  background-color: #3f96f3;
  cursor: pointer;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin: 0;
}

.form__label_checkbox {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 12px;
}
